:root {
    --light92: hsl(0, 0%, 92%);
    --light88: hsl(0, 0%, 88%);
    --dark: hsl(0, 0%, 12%);
    --malibu: hsl(192, 93%, 72%);
    --auburn: hsl(0, 75%, 65%);
    --mariner: hsl(216, 75%, 51%);
    --laurel: hsl(120, 100%, 25%);
    --purple: hsl(264, 61%, 47%);
    --transparent1: rgba(0,0,0,.1);
    --transparent2: rgba(0,0,0,.2);

    --background: var(--light92);
    --foreground: var(--malibu);
}

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
}

html,
body {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    background-color: var(--background);
    font-family:sans-serif;
    color: var(--dark);
}

button,
.search-input {
    outline: none;
    border: none;
    border-radius: 3px;
    font-family:sans-serif;
}

button {
    padding: .125rem;
    color: var(--dark);
    background-color: transparent;
}

button,
.ic-div {
    cursor: pointer;
}

span.mid {
    vertical-align: middle;
}

span.mid,
h1 {
    user-select: none;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.nav-comp ,
.nc-left,
.search-div,
.nc-right {
    display: inline-flex;
}

.nav-comp {
    justify-content: space-between;
    width: 100%;
    padding: .5rem 3rem .5rem 3rem;
    background-color: var(--foreground);
}

.nc-left > * {
    margin: 0 .25rem 0 0;
}

.nc-right > * {
    margin: 0 0 0 .25rem;
}

.nc-right button:first-child {
    margin: 0;
}

.search-div {
    height: 100%;
    background-color: var(--foreground);
}

.search-div > span:first-child {
    align-self: center;
    cursor: text;
    margin: .1rem;
    font-size: 1.6rem;
    z-index: 2;
}

.search-div button {
    margin: .2rem 0 .2rem -1.5rem;
    height: 20px;
    width: 20px;
    align-self: center;
    display: none;
}

.search-div button:hover,
.search-div button:focus-visible {
    color: var(--auburn);
}

.search-input {
    padding: 0 1.6rem 0 1.8rem;
    margin-left: -1.9rem;
    background-color: var(--transparent1);
}

.search-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.search-input:not(:placeholder-shown) + button {
    display: block;
}

.search-div:focus-within .search-input,
.search-div:hover .search-input,
.search-input:not(:placeholder-shown){
    background-color: var(--light92);
}

.search-div button span {
    font-size: 1rem;
}

.app-body {
    display: flex;
    flex: 1;
    max-height: calc(100% - 46.59px);
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
}

.info-comp {
    display: flex;
    flex-direction: column;
    padding: 2rem .25rem 0 2.8rem;
    background-color: var(--light88);
    overflow-y: auto;
}

.info-comp > * {
    text-align: left;
    font-size: .9rem;
    width: 294px;
    padding: 5px;
}

.info-comp > * > samp {
    float: right;
    opacity: .5;
    margin: 4px 1rem 4px 0;
}

.ic-div {
    margin: .25rem 0 0 0;
}

.info-comp > div:first-of-type{
    margin: 1rem 0 0 0;
}

.ic-span {
    margin: 0 .25rem 0 0;
}

.info-comp > button:first-child span {
    color: var(--mariner);
}

.info-comp > button:nth-child(2) span {
    color: var(--laurel);
}

.info-comp > button:nth-child(3) span {
    color: var(--purple);
}

.opa {
    opacity: .5;
}

.ic-add-btn {
    float: right;
    margin: 0px .5rem 0 0;
    padding: 0;
    display: none;
}

.ic-add-btn:hover + strong,
.ic-add-btn:focus-visible + strong {
    text-decoration: underline;
    text-underline-offset: 30%;
}

.info-comp:focus-within .ic-add-btn,
.info-comp:hover .ic-add-btn{
    display: inherit;
}

.ic-div > div {
    display: none;
}

.ic-div > div.show {
    display: flex;
    flex-direction: column;
}

.show {
    margin: .75rem 0 0 0;
}

.show > div {
    text-align: left;
    display: flex;
    padding: .5rem .5rem .5rem .5rem;
    height: 34px;
    font-size: .9rem;
    align-items: center;
    border-radius: 3px;
}

span.unique {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;
    margin-right: .2rem;
}

.show button {
    padding: 0;
    visibility: hidden;
}

.show > div:hover,
.show > div:focus-visible {
    background-color: var(--transparent2);
}

.show > div:hover button,
.show > div:focus-visible button,
.show > div:focus-within button{
    visibility: visible;
    margin-left: auto;
}

.show button:hover,
.show button:focus-visible {
    background-color: transparent!important;
}

.bullet {
    min-width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 .7rem 0 .5rem;
    background-color: var(--transparent2);
}

.tag {
    transform: scale(.8);
    margin: 0 .2rem 0 .2rem;
    color: var(--transparent2);
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    padding: 0 2rem 0 2rem;

}

.container > * {
    max-width: 800px;
    width: 100%;
}

.container > footer {
    margin-top: auto;
}

.container > header {
    padding: 2rem 0 1rem 0;
    position: sticky;
    top: 0;
    background-color: var(--light92);
}

h1 {
    font-size: 1.3rem;
}

.todo {
    display: flex;
    padding: 2px 0;
    margin: .5rem 0 .5rem 0;
    justify-content: flex-start;
    flex-direction: row;
    border-bottom: 1px solid var(--transparent1);
}

.todo,
.todo * {
    cursor: pointer;
}

.checkbox-btn { 
    height: 18px;
    max-width: 18px;
    width: 100%;
    border: 1px solid gray;
    margin: .25rem .7rem 0 0;
}

.checkbox-btn:hover,
.checkbox-btn:focus-visible {
    border-color: transparent;
    background-color: var(--transparent1);
}

.checkbox-btn > span {
    visibility: hidden;
    color: var(--transparent2);
}

.checkbox-btn:hover > span,
.checkbox-btn:focus-visible > span {
    visibility: visible;
}

.checkbox-btn:active span{
    color: var(--laurel);
}

.todo-text {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.todo-text > label {
    line-height: 1.4rem;
}

em {
    width: 100%;
}

em,
em > span {
    font-size: .9rem!important;
}

.sched-due {
    color: var(--auburn);
}

.sched-today {
    color: var(--laurel);
}

.sched-upcom {
    color: var(--purple);
}

.todo-tools-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: -20px 0 0 0;
    visibility: hidden;
}

.todo-tools-container * {
    color: gray;
}

.tool-span {
    font-size: 1.2rem;
}

.todo:hover .todo-tools-container,
.todo:focus-within .todo-tools-container {
    visibility: visible;
}

button:hover,
button:focus-visible {
    background-color: var(--transparent2);
}

button:focus-visible {
    outline: auto;
}

.add-task-btn {
    text-align: left;
    color: gray;
}

.add-task-btn * {
    padding: .1rem;
}

.add-task-btn span {
    border-radius: 50%;
    padding: 0;
    color: var(--auburn);
}

.add-task-btn:hover,
.add-task-btn:focus-visible,
.add-task-btn span {
    background-color: transparent;
}

.add-task-btn:hover span,
.add-task-btn:focus-visible span {
    color: var(--mariner);
}

.empty-state-div {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.empty-state-div img {
    max-width: 180px;
    
    height: auto;
}

.empty-state-div h4 {
    font-weight: normal;
    color: gray;
}

.empty-state-div *:nth-child(n+2) {
    margin: .25rem 0 0 0;
}

.empty-state-div p {
    font-size: .9rem;
    color: darkgray;
}

.container footer {
    text-decoration: underline;
}

.container:not(.empty) .empty-state-div,
.container:not(.empty) footer {
    display: none;
}

@media only screen and (max-width: 750px) {
    .nav-comp {
        padding: .5rem .5rem .5rem .5rem;
    }
}

@media only screen and (max-width: 550px) {
    .search-input {
        width: 180px;
    }
    .search-input:focus {
        width: 180px;
    }
}

@media only screen and (max-width: 360px) {
    .search-input {
        width: 100px;
    }
    .search-input:focus {
        width: 100px;
    }
}